/* Estilos para el acordeon de bootstrap */

.accordion-button {
    background-color: rgba(221, 221, 221, 0.8);
}

.accordion-button:focus {
    box-shadow: none;
}

/* Estilos personalizados para eliminar los bordes del acordeón */
.accordion-button {
    border: none;
    outline: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: none;
}

.accordion-collapse {
    border: none;
}
.accordion-body {
    padding: 5px 4px;
    margin: 0 auto; /* Centra los elementos horizontalmente */
}

#customPopup{
    min-width: 300px;
}

.leaflet-popup-content-wrapper{
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.8);

}

.leaflet-popup-close-button {
    position: absolute !important;
    top: -20px !important;
    right: -20px !important;
    width: 45px !important;
    height: 45px !important;
    background-color: #9b2130 !important;
    color: white !important;
    border-radius: 50% !important;
    text-align: center !important;
    line-height: 30px !important;
    font-size: 2.5em !important;
    font-weight: bold !important;
    cursor: pointer !important;
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
}

.leaflet-popup-close-button:hover,
.leaflet-popup-close-button:focus {
    background-color: darkred !important;
    color: white !important;
    text-decoration: none !important;
}