
.busFlex{
    display: flex;
}

.busG{
 flex-direction: row;
 background-color:#008431 ;
 width: 40px;
 height: 40px;
 text-align: center;
 align-content: center;
 color: white;
 font-weight: bold;
 margin: 4px;
}

.busR{
    flex-direction: row;
    background-color:#f54129;
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bold;
    margin: 4px;
   }

   .busB{
    flex-direction: row;
    background-color:#000d6f;
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bold;
    margin: 4px;
   }


   .busO{
    flex-direction: row;
    background-color:orange;
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bold;
    margin: 4px;
   }